.view {
  /*background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;*/
  /*background-size: cover;*/
}
@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}

.main-content {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.view {
  padding-top: 100px;
  min-height: 100vh;
  box-sizing: border-box;
}

.list-group {
  list-style-type: none;
}
